<!DOCTYPE html>
<html>
<head>
  <title>Wishlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href='/items'>Home</a>
  <a href='/logout' data-method='DELETE'>Log Out</a>
  <%= render 'partials/flash_messages' if !flash.empty? %>

<%= yield %>

</body>
</html>
